@use "sass:map";

$blue: hsl(246, 80%, 60%);
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

$svg-default: #bbc0ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: white;
}

@mixin grid-default-gap {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

@mixin flex-cl {
    display: flex;
    flex-direction: column;
}

.card-bg {
    border-radius: 1rem 1rem 0 0;
    height: 20%;
    overflow: hidden;
    z-index: -1;
    img {
        margin-top: -10px;
        margin-left: 60%;
    }
}

body {
    background-color: $very-dark-blue;
}

$colors: (
    "work": hsl(15, 100%, 70%),
    "play": hsl(195, 74%, 62%),
    "study": hsl(348, 100%, 68%),
    "exercise": hsl(145, 58%, 55%),
    "social": hsl(264, 64%, 52%),
    "self-care": hsl(43, 84%, 65%),
);

@each $key, $value in $colors {
    .#{$key}-bg {
        background-color: #{$value};
    }
}

#content {
    @include grid-default-gap;
    grid-template-columns: 1fr 3fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
}

#user-card {
    background-color: $dark-blue;
    border-radius: 1rem;
    grid-row: 1 / 2;
    position: relative;

    .profile {
        @include flex-cl;
        background-color: $blue;
        border-radius: 1rem;
        height: 70%;
        padding: 2rem;
        .user-profile-img {
            border-radius: 50%;
            border: 3px solid white;
            max-width: 50%;
            margin-bottom: 30%;
        }
        .report-for {
            color: $pale-blue;
        }
        .user-name {
            font-size: 2.3rem;
            font-weight: 300;
        }
    }
    .uc-sub-menu {
        @include flex-cl;
        height: 30%;
        padding: 0 1.5rem;
        justify-content: center;
        gap: 1rem;
        text-decoration: none;

        li {
            list-style: none;
            line-height: 2.5;
            a {
                text-decoration: none;
                color: $pale-blue;
            }
            a:hover {
                color: #fff;
            }
        }

        .selected {
            color: #fff;
        }
    }
}

.task-card {
    height: 100%;
    max-height: 240px;
    max-width: 250px;
    position: relative;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: $dark-blue;
    position: absolute;
    margin-top: -4%;
    border-radius: 1rem;
    height: 86%;
    width: 100%;
    padding: 1.5rem;
}

.card-header {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header-menu:hover {
    filter: brightness(0) invert(1);
}

.tc-time {
    font-size: 3.5rem;
    font-weight: 300;
}

.tc-previous {
    font-size: 1rem;
    color: $pale-blue;
}

#task-container {
    @include grid-default-gap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
