* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white;
}

body {
  background-color: hsl(226, 43%, 10%);
}

.work-bg {
  background-image: url("/images/icon-work.svg"), linear-gradient(to bottom, hsl(15, 100%, 70%) 50%, transparent 50%);
}

.play-bg {
  background-image: url("/images/icon-play.svg"), linear-gradient(to bottom, hsl(195, 74%, 62%) 50%, transparent 50%);
}

.study-bg {
  background-image: url("/images/icon-study.svg"), linear-gradient(to bottom, hsl(348, 100%, 68%) 50%, transparent 50%);
}

.exercise-bg {
  background-image: url("/images/icon-exercise.svg"), linear-gradient(to bottom, hsl(145, 58%, 55%) 50%, transparent 50%);
}

.social-bg {
  background-image: url("/images/icon-social.svg"), linear-gradient(to bottom, hsl(264, 64%, 52%) 50%, transparent 50%);
}

.self-care-bg {
  background-image: url("/images/icon-self-care.svg"), linear-gradient(to bottom, hsl(43, 84%, 65%) 50%, transparent 50%);
}

.card-bg {
  background-repeat: no-repeat;
  background-position: 90% -5%;
}

@media (orientation: landscape) {
  #content {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    max-width: 1300px;
    aspect-ratio: 11/5;
  }
  #task-container {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #user-profile {
    min-width: 250px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    grid-row: 1/2;
    position: relative;
  }
  #user-profile .profile-info {
    display: flex;
    flex-direction: column;
    background-color: hsl(246, 80%, 60%);
    border-radius: 1rem;
    height: 70%;
    padding: 3rem 2rem;
  }
  #user-profile .profile-info .user-profile-img {
    border-radius: 50%;
    border: 3px solid white;
    max-width: 40%;
    margin-bottom: 20%;
  }
  #user-profile .profile-info .report-for {
    color: hsl(236, 100%, 87%);
  }
  #user-profile .profile-info .user-name {
    font-size: 3rem;
    font-weight: 300;
  }
  #user-profile .profile-menu {
    display: flex;
    flex-direction: column;
    height: 30%;
    padding: 0 1.5rem;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
  }
  #user-profile .profile-menu a {
    text-decoration: none;
    color: hsl(236, 100%, 87%);
  }
  #user-profile .profile-menu a:hover,
  #user-profile .profile-menu .selected {
    color: #fff;
  }
  .task-card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    min-height: 240px;
    min-width: 250px;
  }
  .card-content {
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    height: 80%;
    width: 100%;
    padding: 0 1.5rem;
  }
  .card-content .card-header {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
  }
  .card-content .card-header .header-menu:hover {
    filter: brightness(0) invert(1);
  }
  .card-content .card-data {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-between;
  }
  .card-content .card-data .tc-time {
    font-size: 4rem;
    font-weight: 300;
  }
  .card-content .card-data .tc-previous {
    font-size: 1.2rem;
    color: hsl(236, 100%, 87%);
  }
}/*# sourceMappingURL=style.css.map */